/*Home Page*/
nav#header.active{box-shadow: 0 0 10px rgba(0,0,0,0.4);}
nav.nav-custom{background-color:#fff;}
nav.nav-custom .head-nav {padding-top:11px;}
nav.nav-custom .head-nav li a{color:#303030; border-bottom:6px solid transparent;padding: 23px 8px;margin:0 5px;}
nav.nav-custom .logo{display: block;width:100%;}
nav.nav-custom .nav-button{width:95px;padding:8px 0;margin-left:10px;margin-top: 24px;}
nav.nav-custom .trans-btn {background: transparent;border: 2px solid #000;color: #000;}
nav.nav-custom .trans-btn:hover{background:#013b4f;color:#fff;border: 2px solid #013b4f;}
.navbar-toggle {    background-color: #013b4f;    border: 2px solid #013b4f;}
.navbar-toggle .icon-bar {background-color:#fff;width: 25px;}
.navbar-toggle .icon-bar + .icon-bar {   margin-top: 6px;}
.nav.head-nav>li>a.active{ border-bottom:6px solid #3cb8ff;}
.nav.head-nav>li>a:focus, .nav.head-nav>li>a:hover{text-decoration: none;background-color: transparent;    border-bottom:6px solid #3cb8ff;}
.head-banner .down-arrow{width: 55px;margin-top: 40px;}
.head-banner .typing-text{display:inline-block;}
header .head-banner{background:url('../img/home-header.png') no-repeat;background-size:100% 100%;margin-top: 70px;padding: 145px 0 65px 0; }
.info-formsection{background:url('../img/information-back.png') no-repeat;background-size:100% 100%;padding:60px 0;transition:0.5s ease-in-out;}
.info-formsection .form-group .form-control{border: 1px solid #fff;}
.info-formsection .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */  color: #fff;}
.info-formsection .form-control::-moz-placeholder { /* Firefox 19+ */  color: #fff;}
.info-formsection .form-control:-ms-input-placeholder { /* IE 10+ */  color: #fff;}
.section1{background-color:#f0eded;}
.update-file{background:#3cb8ff;}
.update-file span{font-size: 50px;    color: #fff;    padding: 19px 5px;    display: block;}    
.update-info{background:#fff;}
.update-slide{border:1px solid transparent;}
.update-slide:hover{border:1px solid #000;}
.resources-provided .syllabus{background:url('../img/syllabus.png')no-repeat;background-size:100% 100%;padding:55px 0;}
.resources-provided .que-paper{background:url('../img/que-paper.png')no-repeat;background-size:100% 100%;padding:55px 0;}
.resources-provided .ans-paper{background:url('../img/ans-paper.png')no-repeat;background-size:100% 100%;padding:55px 0;}
.resources-provided .tutorial-classes{background:url('../img/tutorial-classes.png')no-repeat;background-size:100% 100%;padding:55px 0;}
.resources-provided span{font-size:50px;display:block;}
.resources-provided .resource-cont{margin: 0 8px;background-color: #013b4f;}
.resources-provided .resource-cont:hover span{color:#3cb8ff;}
.resources-provided .resource-cont:hover{box-shadow:0px 0px 11px rgba(48, 48, 48, 0.7); -webkit-transition:0.5s all ease-in-out; /* Safari */ transition:0.5s all ease-in-out;}
.view-btn{border-radius:0;}
.testimonial{background:url('../img/slider-background.png') no-repeat;background-size:100% 100%;background-attachment: fixed;}
.testimonial .student-photo img{border:5px solid #3cb8ff;border-radius:50%;}
.testimonial .ratings span{color:#3cb8ff;}
.slider-control{background-image:none;}
.carousel-control {top: 41%;font-size: 30px;}
.notification-section{background:url('../img/notified-section.png')no-repeat;background-size:100% 100%;}
.subscribe{margin-left: -4px;padding: 14px 15px;border-radius:0;}
footer{background:#002532;}
footer .about-us .logo{width: 55%;margin: -50px 0 -10px 0;}
footer ul li{list-style: none;margin:10px 0;}
footer ul li a{color:#fff;font-size:14px;font-family: 'open_sanslight';}
footer .short-links{padding-left:100px;}
footer .social-links li{display:inline-block;}
footer .social-links li span{font-size:30px;display:block;margin:0 10px;color:#afacac; }
footer .social-links li span:hover{color:#fff;}
footer .footer-strip{border-top:1px solid #959595;padding-top:5px;}
footer .footer-strip p{padding-top: 13px;}
footer .footer-links li a:hover{text-decoration:underline;}
.typed-cursor{opacity: 1;-webkit-animation: blink 0.7s infinite;-moz-animation: blink 0.7s infinite;animation: blink 0.7s infinite;font-size:22px;}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*HOME PAGE END*/

/*CONTACT US*/
header .header-banner{margin-top:68px;background-size:100% 100%;padding: 161px 0 90px 0;}
header.contact .header-banner{background:url('../img/contact-banner.jpg') no-repeat;background-size: 100%;}
header .header-banner img{width:100%;}
.contact-form .form-control{width:100%;}
.contact-form .message{height: 100px;}
.contact-form .reg-form{margin-bottom: 30px;}
.address span{position: relative;top: 5px;margin-right: 10px;color: #3cb8ff;font-size: 25px;}
.contact-section h2{border-bottom: 1px solid #d5d5d5;color:#3cb8ff;padding:10px 0;}
/*CONTACT US END*/

/*ABOUT PAGE*/
header.about .header-banner{background:url('../img/about-banner.jpg') no-repeat;background-size:100% 100%;}
.about-info{margin: 30px 0 0;line-height: 25px;padding: 0 100px; }
.about-bg{background-color: #faf7f7;}
.team-member-img img{border: 1px solid #898989;}
.team-member-img{margin: 20px 0; position: relative;}
.team-members-div {margin: 30px 0;}
.member-info{background-color: rgba(0,37,50,0.8); position: absolute; bottom: 0; left: 0;right: 0;margin: 0 15px; opacity: 0;transition:0.5s ease-in-out;}
.team-member-img:hover .member-info{opacity: 1;}
.member-info h4{margin: 10px 0 5px;}
/*ABOUT PAGE END*/
/*PAPER PAGE*/
header.paper .header-banner{background:url('../img/paper-banner.jpg') no-repeat;background-size:100% 100%;}
.paper-main-div{margin: 30px 0;}
.paper-categ{background:url('../img/paperdiv-bg.jpg') no-repeat;color: #fff; margin: 15px 0;}
.paper-categ:hover{box-shadow: 0px 0px 15px gray; transition: 0.5s all;}
.paper-categ a{color: #fff;}
.paper-viewall{background-color: rgba(3,75,105,0.7); padding: 6px; text-align: center;  cursor: pointer;}
.paper-type{padding: 20px;}
.paper-type  span.type-icon{position: relative;margin-right: 7px;top: 3px;font-size: 16px;}
.paper-type h6{margin: 40px 0 0;}
.info-formsection.quick-find{padding: 10px 0;}
.info-formsection.quick-find .form-group .form-control {  width: 225px; margin-right: 15px;}
.paper-index{font-size: 14px;  font-family: 'open_sanslight';}
.paper-download-div{background-color: #f3f1f1; padding: 6px; text-align: center;}
/*.paper-download-div .btn-green{margin-right: 35px;}*/
.paper-subject-div{border: 2px solid #898989;}
.paper-subject-tabnav {    padding: 0;    margin-top: 40px;}
.nav-tabs{border: none;}
/*.paper-subject-tabnav{ border: 1px solid #959595; }*/
.paper-subject-tabnav li{ border: 1px solid #959595; margin: 0; }
/*.paper-subject-tabnav li:last-child { border-right: none; }*/
/*.paper-subject-tabnav.nav-tabs > li.active > a, .paper-subject-tabnav.nav-tabs > li.active > a:focus, .paper-subject-tabnav.nav-tabs > li.active > a:hover{border: none;}*/
.paper-subject-tabnav.nav.nav-tabs > li > a { padding: 8px 32px;margin-right:0;}
.paper-subject-tabnav.nav-tabs > li.active > a, .paper-subject-tabnav.nav-tabs > li.active > a:focus, .paper-subject-tabnav.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #18c47c;
    border: 1px solid #18c47c; border-radius: 0; margin: 0;}
.paper-subject-tabnav.nav > li > a:focus, .paper-subject-tabnav.nav > li > a:hover {
    color: #fff;
    cursor: default;
    background-color: #18c47c;
    border: 1px solid #18c47c ; border-radius: 0; margin: 0;
}
/*papers-engineering page*/
.paper-main-div .paper-type{position:relative;}
.paper-main-div .paper-type span.branch-icon{top: 13%;right:24px;display: inline-block;position: absolute;font-size: 85px;}
/*END PAPER PAGE*/
/*Registration Page*/
.registration{background-color:#003150;}
.registration a img.logo{margin-top:20px;width:55%;}
.form-content{padding: 20px;}
.registration-form{margin-top:30px;box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);background: #fff;}
.registration-form .tab-content .tab-form{margin:5px 0;height:50px;border-radius:0;}
.reg-tab>li.active>a, .reg-tab>li.active>a:focus, .reg-tab>li.active>a:hover{color: #303030;border:none;}
.reg-tab>li>a:focus, .reg-tab>li>a:hover {background-color: #eee;}
.reg-tab>li>a {padding:15px;border: none;text-align:center;margin:0;color: #303030;border-radius:0;
    background-color:#eee;}
.reg-tab>li+li {margin-left: 0;}
.reg-btn{border-radius:0;}
/*End Registration Page*/

/*Start of tution-classes page*/
.tution-title {margin-top:83px;background: #f9f9f9;margin-bottom:20px;}
.class-info {border:1px solid #303030;margin-bottom:20px;}
.class-info h3{margin:0;background:#003150;padding:10px 0;color:#fff;text-align:center; }
.batch-details , .fees-details {padding:20px 15px;}
.our-toppers h3{margin: 0 0 25px 0;}
.our-toppers .topper-name {margin: 0;padding:5px 0;text-align: center;background: #3cb8ff;color: #fff;}
.class-info span.contact-icon{font-size:25px;color:#3cb8ff;}
.slider6 .update-file{padding:10px 0;}
.our-notes{padding:40px 0;}
.our-notes h3{margin:20px 0 0 30px;}
/*.slider6 .bx-wrapper .bx-controls-direction .bx-next { right: -14px;}
.slider6 .bx-wrapper .bx-controls-direction .bx-prev {left: -25px;}*/
.class-detail h6 {margin: 25px 0 0;}
/*End of tution-classes page*/

@media only screen and (max-width: 1024px){
	nav.nav-custom .head-nav {    padding-top: 0;}
	nav.nav-custom .nav-button { width: 95px;padding: 8px 0;margin-left: 10px;    margin-top: 14px;}
	nav.nav-custom .head-nav li a {margin: 0;font-size:15px;}
	.resources-provided .resource-cont {	padding:0;    margin:5px;    height: 372px;    background-color: #013b4f;}
	footer .short-links {    padding-left: 60px;}
	.update-file span {    padding: 27.5px 0px;   }
	.bx-controls-direction a.bx-next{right: -19px;top: 50%;}
	.bx-controls-direction a.bx-prev{left: -30px;top: 50%;}
	.paper-type h2 {    font-size: 25px;}
	.info-formsection.quick-find .btn-search { margin-top: 40px;}
	.paper-download-div .btn-green {    margin-right: 15px;}
}
@media only screen and (max-width: 980px){
	.paper-main-div{padding: 0;}
	.paper-type {    padding: 15px;}
	.paper-type h6 {    margin: 15px 0 0;}
	.info-formsection.quick-find .form-group .form-control { width: 210px;}
	.paper-type h5 {    font-size: 16px;}
	.paper-download-div .btn-green {    margin-right: 0;}
}
@media only screen and (max-width: 840px){
	.info-formsection.quick-find .form-group .form-control { width: 175px;}
	footer .short-links { padding-left: 34px;}
}
@media only screen and (max-width: 768px){
nav.nav-custom .head-nav li a {padding: 23px 10px;}
nav.nav-custom .head-nav, nav.nav-custom .login-section{margin-top: -20px;}
footer .short-links {    padding-left: 18px;}
footer .logo{margin: -30px 0 -16px 0;width: 70%;}
.update-file span{font-size: 32px; padding: 14.5px 0px; }  
.update-info p{display:none;}
.update-info {padding: 3px 0;}
.bx-controls-direction a.bx-prev {    left: -27px;    top: 35%;}
.bx-controls-direction a.bx-next {    right: -13px;    top: 35%;}
.testimonial .student-info p.xl {font-size:18px;}
.info-formsection.quick-find .form-group .form-control { width: 169px;}
}

@media only screen and (max-width: 720px){
	header .header-banner {    margin-top: 58px;   padding: 65px 0 90px 0;}
	header .head-banner h1 {    font-size: 36px;}
	nav.nav-custom .head-nav li a {color:#fff;    padding: 15px;margin: 0;border-bottom:none;}
	.nav.head-nav > li > a:focus, .nav.head-nav > li > a:hover {border-bottom:none;background: #031921;    color: #fff;}
	.nav.head-nav > li > a.active{background: #031921;border-bottom:none;}
	nav.nav-custom .head-nav{margin:0;background:#013b4f;}
	nav.nav-custom .nav-button, .navbar-toggle {    margin-top: 20px;}
	/*.navbar-toggle:focus{background:#031921;}*/
	nav.nav-custom .head-nav, nav.nav-custom .login-section{margin-top:0;}
	.navbar-fixed-top .navbar-collapse {margin-top: 15px;}
	.navigation {    position: absolute;    right: -15px;   top: 57px;}
	.login-section {    position: absolute;top: 0;left: 44%;}
	.update-info p{display:block;}
	.update-file span { padding: 22px 0px;font-size:50px;}
	.bx-controls-direction a.bx-prev {    left: -42px;    top: 45%;}
	.bx-controls-direction a.bx-next {    right: -30px;    top: 45%;}
	.form-group .reg-field {    width: 250px;   display:inline-block;}
	.testimonial .student-info p.xl {font-size:14px;}
	.subscribe{margin-top: -3px;}
	.footer-strip p{font-size:15px;}
	footer .social-links li span{margin:0 5px;font-size:27px;}
	footer .footer-nav-links{display:none;}
	footer .footer-links li {display: inline-block;}
	footer .about-us{display: none;}
	footer .footer-links li a {    padding: 0 15px;}
	/*CONTACT US*/
	.header-banner h3{font-size:18px;}
	header .header-banner {    margin-top: 58px;}
	.contact-form .form-control{width:100%;}
	/*paper page*/
	.paper-categ { background-repeat: repeat;}
}
@media only screen and (max-width: 640px){
	.info-formsection.quick-find .form-group .reg-field {width: 270px; margin-bottom: 20px;}
	.info-formsection.quick-find .btn-search {    margin-top: 0;}
}
@media only screen and (max-width: 480px){
	h1 {    font-size: 35px;}
	.login-section {left: 36%;top: -10px;}
	.navbar-toggle {margin-top:10px;}
	.navbar-fixed-top .navbar-collapse {    margin-top: 0px;}
	header .head-banner h1 {    font-size: 26px;}
	header .head-banner h4 {    font-size: 20px;}
	.form-group .reg-field {    width: 220px;}
	.bx-controls-direction a.bx-prev {    left: -29px;}
	.bx-controls-direction a.bx-next {    right: -22px;}
	.btn-search {margin-top:12px;}
	.info-formsection.quick-find .form-group .reg-field {   width: 350px;}

}
@media only screen and (max-width: 360px){
	h1 {    font-size: 28px;}
	h2 {    font-size: 25px;}
	nav.nav-custom .head-nav, nav.nav-custom .login-section{position:static;}
	nav.nav-custom .logo-section{width:70%;}
	.navigation {width:44%;}
	nav.nav-custom .logo{width:auto;}
	header .head-banner h4 {    font-size: 14px;}
	header .head-banner {    margin-top: 120px;    padding: 20px 0 15px 0;}
	.head-banner .down-arrow {margin-top: 25px;}
	.info-formsection .form-group .reg-field{width: 250px;display:block;margin:10px 0 10px 50px;}
	.update-file span {    font-size: 47px;}
	.update-info h6 {    font-size: 14px;}
	.resourse-info p{display:none;}
	.resources-provided .resource-cont {    height: 300px;   }
	footer .footer-links li a {    padding: 0 7px;}
	.col-resourse{width:100%;}
	.btn-search{margin:0;}
	/*CONTACT US*/
	.contact-form .reg-form {padding:0 15px;    margin-bottom: 15px;    width: 100%;}
	header .header-banner {margin-top: 100px;padding: 50px 0 44px 0;height: 195px;}
	.info-formsection.quick-find .form-group .reg-field {    width: 260px;}
	.paper-type h2 { font-size: 20px;}
}

@media only screen and (max-width: 320px){
	.navbar-toggle{margin-right:5px;}
	.navbar-fixed-top .navbar-collapse {margin-top: 62px;}
	header .head-banner h1 {    font-size: 23px;}
	.update-file span {    font-size: 35px;padding:11.5px 0;}
	.bx-controls-direction a.bx-prev, .bx-controls-direction a.bx-next{top: 33%;}
	.update-info p{display:none;}
	.notification-section .form-group .reg-field {    width: 198px;}
	.info-formsection .form-group .form-control{margin:10px 0 10px 25px;}
	
}